// $primary: #36187d;
$primary: #36187d;
$primary-dark: #190b3b;
$primary-light: #47b5ed;

// $accent: #ea2396;
$accent: #ec2b65;
$secondary: #818181;
$blue-light: #0196e3;

$bg-primary: #f2f3f7;
$bg-secondary: #f8f9fb;
$bg-alt: #e8ecf1;
